In [1]:
import pandas as pd
cols = [
    'id',
    'property_type',
    'room_type',
    'amenities',
    'accommodates',
    'bathrooms',
    'bed_type',
    'cancellation_policy',
    'cleaning_fee',
    'city',
    'description',
    'first_review',
    'host_has_profile_pic',
    'host_identity_verified',
    'host_response_rate',
    'host_since',
    'instant_bookable',
    'last_review',
    'latitude',
    'longitude',
    'name',
    'neighbourhood',
    'number_of_reviews',
    'review_scores_rating',
    'thumbnail_url',
    'zipcode',
    'bedrooms',
    'beds']
datauji = pd.read_csv('D:/S2 IPB/Semester 2/Pembelajaran Mesin Statistika/UTS/test.csv', usecols=cols)
datauji.head()
datauji.shape[0]

22232

In [2]:
data = datauji.drop(columns=['description','first_review','host_response_rate','last_review','name','thumbnail_url'])

In [3]:
data['review_scores_rating'] = data['review_scores_rating'].fillna(0)
meanbath = round(data['bathrooms'].mean())
data['bathrooms'] = data['bathrooms'].fillna(meanbath)
data['host_has_profile_pic'] = data['host_has_profile_pic'].fillna(0)
data['host_identity_verified'] = data['host_identity_verified'].fillna(0)
data['host_since'] = data['host_since'].fillna(0)
data['bedrooms'] = data['bedrooms'].fillna(0)
meanbed = round(data['beds'].mean())
data['beds'] = data['beds'].fillna(meanbed)
print(data.isnull().sum())

id                           0
property_type                0
room_type                    0
amenities                    0
accommodates                 0
bathrooms                    0
bed_type                     0
cancellation_policy          0
cleaning_fee                 0
city                         0
host_has_profile_pic         0
host_identity_verified       0
host_since                   0
instant_bookable             0
latitude                     0
longitude                    0
neighbourhood             2098
number_of_reviews            0
review_scores_rating         0
zipcode                    296
bedrooms                     0
beds                         0
dtype: int64

In [7]:
data.host_has_profile_pic = data.host_has_profile_pic.replace({"t": 1, "f": 0})
data.host_identity_verified  = data.host_identity_verified.replace({"t": 1, "f": 0})
data.cleaning_fee  = data.cleaning_fee.replace({True: 1, False: 0})
data.instant_bookable   = data.instant_bookable.replace({"t": 1, "f": 0})
# fill zipcode yang kosong dengan kategori zipcode yang terbanyak 
data['zipcode'] = data['zipcode'].fillna(11211)

# fill neighbourhood yang ksong dengan kategori neighbourhood terbanyak
data['neighbourhood'] = data['neighbourhood'].fillna('Williamsburg')
print(data.isnull().sum())

id                        0
property_type             0
room_type                 0
amenities                 0
accommodates              0
bathrooms                 0
bed_type                  0
cancellation_policy       0
cleaning_fee              0
city                      0
host_has_profile_pic      0
host_identity_verified    0
host_since                0
instant_bookable          0
latitude                  0
longitude                 0
neighbourhood             0
number_of_reviews         0
review_scores_rating      0
zipcode                   0
bedrooms                  0
beds                      0
dtype: int64

In [8]:
# Mengubah format date hosting since
from datetime import datetime
now = datetime.now()
now = now.strftime("%m/%d/%Y")

# Menbuat kolom baru waktu sekarang
data['days'] = now
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22232 entries, 0 to 22231
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      22232 non-null  int64
 1   property_type           22232 non-null  object
 2   room_type               22232 non-null  object
 3   amenities               22232 non-null  object
 4   accommodates            22232 non-null  int64
 5   bathrooms               22232 non-null  float64
 6   bed_type                22232 non-null  object
 7   cancellation_policy     22232 non-null  object
 8   cleaning_fee            22232 non-null  int64
 9   city                    22232 non-null  object
 10  host_has_profile_pic    22232 non-null  int64
 11  host_identity_verified  22232 non-null  int64
 12  host_since              22232 non-null  object
 13  instant_bookable        22232 non-null  int64
 14  latitude                22232 non-null  float64
 15  longitude               22232 non-null  float64
 16  neighbourhood           22232 non-null  object
 17  number_of_reviews       22232 non-null  int64
 18  review_scores_rating    22232 non-null  float64
 19  zipcode                 22232 non-null  object
 20  bedrooms                22232 non-null  float64
 21  beds                    22232 non-null  float64
 22  days                    22232 non-null  object
dtypes: float64(6), int64(7), object(10)
memory usage: 3.9+ MB

In [9]:
# Mengubah format kolom host_since dan kolom days
data['host_since']= pd.to_datetime(data['host_since'])
data['days'] = pd.to_datetime(data['days'])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22232 entries, 0 to 22231
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      22232 non-null  int64
 1   property_type           22232 non-null  object
 2   room_type               22232 non-null  object
 3   amenities               22232 non-null  object
 4   accommodates            22232 non-null  int64
 5   bathrooms               22232 non-null  float64
 6   bed_type                22232 non-null  object
 7   cancellation_policy     22232 non-null  object
 8   cleaning_fee            22232 non-null  int64
 9   city                    22232 non-null  object
 10  host_has_profile_pic    22232 non-null  int64
 11  host_identity_verified  22232 non-null  int64
 12  host_since              22232 non-null  datetime64[ns]
 13  instant_bookable        22232 non-null  int64
 14  latitude                22232 non-null  float64
 15  longitude               22232 non-null  float64
 16  neighbourhood           22232 non-null  object
 17  number_of_reviews       22232 non-null  int64
 18  review_scores_rating    22232 non-null  float64
 19  zipcode                 22232 non-null  object
 20  bedrooms                22232 non-null  float64
 21  beds                    22232 non-null  float64
 22  days                    22232 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(6), int64(7), object(8)
memory usage: 3.9+ MB

In [10]:
data['time'] = (data['days'] - data['host_since']).dt.days
data.head()

,id,property_type,room_type,amenities,accommodates,bathrooms,bed_type,cancellation_policy,cleaning_fee,city,...,latitude,longitude,neighbourhood,number_of_reviews,review_scores_rating,zipcode,bedrooms,beds,days,time
0,17423675,House,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",4,1.5,Real Bed,strict,1,LA,...,33.875862,-118.403293,Hermosa Beach,29,97.0,90254,2.0,2.0,2023-02-25,2816
1,6226658,Apartment,Private room,"{Internet,""Wireless Internet"",""Air conditionin...",2,1.5,Real Bed,moderate,1,Chicago,...,41.908240,-87.695242,Humboldt Park,0,0.0,60622,1.0,1.0,2023-02-25,3820
2,3563677,Apartment,Entire home/apt,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",4,1.0,Real Bed,moderate,1,LA,...,34.047003,-118.267352,Downtown,73,99.0,90015,1.0,1.0,2023-02-25,3011
3,17615783,House,Private room,"{Internet,""Wireless Internet"",""Air conditionin...",2,1.0,Real Bed,moderate,1,LA,...,34.175360,-118.430904,Valley Glen,2,100.0,91401,1.0,1.0,2023-02-25,3880
4,2479317,Apartment,Entire home/apt,"{TV,""Wireless Internet"",""Air conditioning"",Kit...",4,1.0,Real Bed,moderate,1,DC,...,38.911275,-77.037272,Dupont Circle,0,0.0,20009,1.0,2.0,2023-02-25,2839

In [11]:
data = data.drop('host_since', axis=1)
data = data.drop('days', axis=1)
print(data.isnull().sum())

id                        0
property_type             0
room_type                 0
amenities                 0
accommodates              0
bathrooms                 0
bed_type                  0
cancellation_policy       0
cleaning_fee              0
city                      0
host_has_profile_pic      0
host_identity_verified    0
instant_bookable          0
latitude                  0
longitude                 0
neighbourhood             0
number_of_reviews         0
review_scores_rating      0
zipcode                   0
bedrooms                  0
beds                      0
time                      0
dtype: int64

In [12]:
data.to_csv('uji.csv', index = False)